<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >  
<suite name="CRH_EBF" verbose="3"  parallel="classes" thread-count="2" >  
	 <!-- <listeners>
        <listener class-name="CRH_EBF_Phone.AnnotationListener" />
     </listeners> -->
  <test name="bin" >
        <classes>
      <class name="CRH_EBF_Packages.EBF_Packages_Test" />
      <class name="CRH_EBF_Phone.CRH_EBF_Phone_test" />
       <class name="CRH_EBF_Review_OS_OC.ro_Test" />
      <class name="CRH_EBF_TV.TV_Test" />
      <class name="CRH_Internet.EBF_Internet_Test" />
    </classes>
  </test>
   </suite>
